{% extends 'layout.jinja2' %}
{% block title %}Banner list{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Banner list</h2>
        </div>
        <div class="col-lg-6">
            <a href="{{request.route_url('add_banner')}}" class="btn btn-primary ml-auto">Add New Banner</a>
        </div>
    </div>
    <div class="row">
        {% if paginator.items %}
            {% for banner in paginator.items %}
            <div class="col-md-4">
                <p>
                    <img class="img-fluid" src="{{banner.url_link}}/resized/{{banner.image}}" alt="{{banner.title_name}}"/>
                </p>
                <h4>
                    <a href="{{request.route_url('view_banner', bannername=banner.title_name)}}">
                        {{banner.title_name}}
                    </a>
                </h4>
                <p>Position: {{ banner.position }}</p>
                <p>Status: {{ banner.status }}</p>
                <p>
                    <a href="{{request.route_url('edit_banner', bannername=banner.title_name)}}">Edit</a>
                </p>
            </div>
            {% endfor %}
        <div class="container">
            <div class="pager">  
                {{
                    paginator.pager(format="$link_previous ~4~ $link_next",  
                    symbol_previous="«",
                    symbol_next="»",
                    link_attr={"class": "btn btn-sm"},
                    curpage_attr={"class": "btn btn-primary btn-sm disabled"},
                    dotdot_attr={"class": "btn btn-sm disabled"}
                    )|safe
                }}  
            </div> 
        </div>
        {% else %}
            <p>No banner entries found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}