<!doctype html>
<html lang="{{request.locale_name}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
<link rel="shortcut icon" href="{{request.static_url('carusel:static/pyramid-16x16.png')}}">
<link rel="stylesheet" type="text/css" href="{{request.static_url('carusel:static/bootstrap.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{request.static_url('carusel:static/site.css')}}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% block headers %}{% endblock %}
  </head>
  <body>
    {% include 'navbar.jinja2' %}

    {% block content %}
    place text here
    {% endblock %}
<footer class="container">
  <hr/>
  <p>&copy; Carusel 2019</p>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block footer %}{% endblock %}
</body>
</html>